# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
CPP00/.vscode/launch.json
CPP00/.vscode/settings.json
CPP00/.vscode/tasks.json
CPP00/ex00/megaphone
CPP00/ex01/phonebook
CPP00/ex02/test.txt
CPP01/.vscode/settings.json
CPP01/ex00/zombies
CPP01/ex01/zombies
CPP01/ex03/violence
CPP01/ex04/sed
CPP01/ex04/test.txt
CPP01/ex04/test.txt.replace
CPP01/ex05/harl
CPP02/ex00/orthocanon
CPP02/ex01/fixedPoint
CPP03/ex00/claptrap
CPP03/ex01/scavtrap
CPP03/ex03/diamondtrap
CPP04/ex00/polymorphism
CPP04/ex01/polybrains
CPP05/ex00/bureaucrat
CPP05/ex01/forms
